# Abaikan folder dependensi raksasa
node_modules/

# Abaikan folder cache lokal
.expo/
dist/
web-build/

# Abaikan file sistem dan log
npm-debug.*
*.log
.DS_Store

# Jika folder backend Python Anda kebetulan ada di dalam sini, abaikan juga:
.venv/
__pycache__/